dialog {
	 padding: 0;
	 border: 0;
	 border-radius: 0.3rem;
	 box-shadow: 0 0 1em black;
}
/* native backdrop */
 dialog::backdrop {
	 background-color: var(--dialog-backdrop-bkg);
}
/* polyfill backdrop */
 dialog + .backdrop {
	 position: fixed;
	 top: 0;
	 right: 0;
	 bottom: 0;
	 left: 0;
	 background-color: var(--dialog-backdrop-bkg);
}
 dialog[open] {
	 animation: slide-up 0.7s ease-out;
}
/* The following styles are for older browsers when using the polyfill. These aren’t necessary for Chrome/Firefox. */
/*  dialog { */
/* 	 display: none; */
/*  	 position: absolute; */
/*  	 margin: 20 auto; */
/* 	/* should center it, but not working in Safari */ 
/*  	 max-width: 80vw; */
/*  	 background-color: 1fa; */
/*  } */ 

dialog[open] { /*commentable*/
 display: block;
}
/* Afficher la croix pour quitter */
 .close {
	 position: absolute;
	 top:0em;
	 right: 0em;
	 padding: 0.2em;
	 line-height: 0.6;
	 background-color: transparent;
	 border: 0;
	 font-size: 3em;
   color:#eee;
}
 .modal-header, .modal-body, .modal-footer {
	 padding: 1em;
}
 .modal-header {
	margin: 0;
	padding-bottom: 1em;
	background-color: var(--dialog-titre-bkg);
	color:var(--dialog-titre-color);
	border-top-left-radius: 0.3rem;
	border-top-right-radius: 0.3rem;
	border-bottom: 1px solid var(--dialog-titre-border-color);
}
 .modal-footer {
	 border-top: 2px solid var(--dialog-footer-border-color);
}
/* misc page styles -- not important for demo */
 
 :first-child {
	 margin-top: 0;
}
 :last-child {
	 margin-bottom: 0;
}
 button {
	padding: 0.4em 1em 0.2em;
	margin-right:5px;
	color:var(--dialog-button-color);
	background:var(--dialog-button-bkg);
	font-size: 2em;
	text-align: center;
	font-style: normal;
	border-radius: 5px;
	border: 0px solid #fff; /*utile un bord de 0 ?*/
	/*float:center;*/
	/* border-width: 1px 1px 3px ;*/
	/* box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;*/
}
button:hover {
	font-size: 2.0em;
	background:#0D8F11;
}
 #close {
	position: absolute;
	top:0em;
	right: 0em;
	padding: 0.2em;
	line-height: 0.6;
	background-color: transparent;
	border: 0;
	font-size: 3em;
    color:var(--dialog-bouton-close-color);
}
#close:hover {
	font-size: 3.1em;
	background:#0D8F11;
}
 @keyframes slide-up {
	0% {
		opacity: 0;
		transform: translate(0, 15px);
	}
	100% {
		opacity: 1;
		transform: translate(0, 0);
	}
}
 