@import 'variables.css';

/*************************************************/
/* TOP MENU DE droite */
/*************************************************/

header{
	padding:5px;
	padding-top:calc(var(--menu-hauteur)/8);
	background-color: var(--header-background-color); /*UTILE ?*/
	box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
	/*position: fixed;*/
	/*width: 99%;*/
	z-index: 3;
	height:var(--menu-hauteur);
}

header,header a, header a.hover, header a:link, header a:visited{
	color: var(--header-color); /*UTILE ?*/;
}

/* header */
.header .menu {
	display:inline-block;
	margin-top: 0;
	padding: 0;
	list-style: none;
	overflow: hidden;
	background-color: var(--menu-background);
}

.header li a {
	display: block;
	padding: 20px 20px;
	border-right: 1px solid var(--menu-border-color);
	text-decoration: none; 
	height:calc(var(--menu-hauteur) - calc(1px) - calc(var(--menu-hauteur)/7));  
}

.header li {
	list-style-type: none;
}

.header li a:hover,
.header .menu-btn:hover {
	background-color: var(--menu-hover-bkg-color);
	color:var(--menu-hover-color); /*init = #000*/
	height:calc(var(--menu-hauteur) - calc(1px) - calc(var(--menu-hauteur)/7));
}

.header .logo {
	display: block;
	float: left;
	font-size: 2em;
	padding-left: 10px ;
	text-decoration: none;
}

/* menu */

.header {background-color:var(--menu-background);/*redit avec plus haut non*/}
.header .menu {
	clear: both;
	max-height: 0;
	transition: max-height .2s ease-out;
}
.header .menu .current {
	background-color: var(--menu-selection-bkg-color);
	color: var(--menu-selection-color);
}

/* menu icon */
.header .menu-icon {
	cursor: pointer;
	display: inline-block;
	float: right;
	padding: calc(var(--menu-hauteur)/3) 20px;
	position: relative;
	user-select: none;
}

.header .menu-icon .navicon {
	background: var(--menu-navicon-background);
	display: block;
	height: 2px;
	position: relative;
	transition: background .2s ease-out;
	width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
	background: var(--menu-navicon-background); /*utile?*/
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	transition: all .2s ease-out;
	width: 100%;
}

.header .menu-icon .navicon:before {
	top: 5px;
}

.header .menu-icon .navicon:after {
	top: -5px;
}

/* menu btn */

.header .menu-btn {display: none;}
.header .menu-btn:checked ~ .menu {max-height: 240px;}
.header .menu-btn:checked ~ .menu-icon .navicon {background: transparent;}
.header .menu-btn:checked ~ .menu-icon .navicon:before {transform: rotate(-45deg);}
.header .menu-btn:checked ~ .menu-icon .navicon:after {transform: rotate(45deg);}
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {top: 0;}

/* RESPONSIVE MENU 48em = 768px */

@media (min-width: 48em) {
	#outils_frame > ul{
		display: inline-block;
		position: absolute;
	}
	.header li {
		float: left;
		/* display:inline-block; */    
	}
	.header li a {
		padding: 10px 20px;
	}
	.header .menu {
		clear: none;
		float: right;
		max-height: none;
	}
	.header .menu-icon {
		display: none;
	}
	.header div{overflow: hidden;}
}
@media (max-width: 48em) {
	.header .menu {
		position: fixed;
		top:var(--menu-hauteur);
		width:100vw;
		padding-bottom:0px;
		left:-5px;
	}
}
