@import 'variables.css';
@import url(https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css);

/*DEBUGGAGE*/
/* p {border:0.2mm dashed green;} */
/* div {border:0.2mm dashed red;} */
/* li {border:0.2mm dashed gold;} */
/* ul{border:0.2mm dashed hotpink;} */

/*----------------------------
	MENU DE LA BOITE A OUTILS
-----------------------------*/
/* Couleur des boutons */
#outils_frame li.green{background-color:#4CAF50;color:#558058;}
#outils_frame li.yellow{background-color:#f8c54d;color:#ab8426;} /**/

/* Gestion des boutons */
#outils_frame > ul{
	display: flex;
    left:120px;
    top:calc(calc(var(--menu-hauteur)/2) - calc(var(--boite-outil-bouton-hauteur)/2));  
	position: absolute;
	max-height:var(--boite-outil-bouton-hauteur);
	z-index:10;
}
#outils_frame > ul > li{ /* will style only the top level li */
	list-style: none;
	box-shadow: 0 0 10px rgba(100, 100, 100, 0.2) inset,1px 1px 1px #CCC;
	line-height: 1;
	margin: 1px;
	border-radius: 3px;
	position:relative;
	margin-right:10px;
}
/* icone des boutons*/
#outils_frame > ul > li > a{
	color:inherit;
	text-decoration:none !important;
	font-size:20px;
	padding: 5px;
}
#outils_frame > ul > li > .tools-pannel{
	position:fixed;
	background-color: var(--boite-outil-pannel-background);
	opacity:0.90;
	display:flex;
	flex-direction:row;
	justify-content: space-evenly;
	top:var(--menu-hauteur);
	width:100vw;
	/* This is important for the show/hide CSS animation */
	max-height:0px;
	overflow:hidden;	
	-webkit-transition:max-height 0.4s linear;
	-moz-transition:max-height 0.4s linear;
	transition:max-height 0.4s linear;
	z-index:1000;
	left:0;
}
/* This will trigger the CSS */
/* transition animation on hover */
#outils_frame .green:hover .tools-pannel{
  width:100vw;
  max-height:100vh; /* Increase when adding more dropdown items */
}

/* DISPOSITION à l'interieur de la boite à outils*/
.tools-pannel, .tools-pannel label{
	color:var(--boite-outil-texte-color);
	font-size: 2vmin;
}
/*Structure flex de ts les sous elements pour un déroulé homogène de la transition*/
.tools-boutons,
.tools-modif,
.tools-modif ul,
.tools-pannel h1 {
	display: flex;
	flex-direction: column;	
	justify-content: space-evenly;
	align-content: center;
}
.tools-boutons,.tools-modif {flex-grow:1;}
.tools-boutons,.tools-modif ul  {
	padding: 0 10px 10px 10px;
	margin: 0px;
}
.tools-pannel h1{
	color: #fff;
	font-size: 6vmin;
	padding: 10px 10px 0px 10px;
	align-self: flex-end;
}
.tools-pannel h2{
	color: #fff;
	font-size: 3vmin;
	padding:10px;
	margin-top:15px;	
}
.tools-boutons {
	border-left: 2px solid var(--boite-outil-texte-color);
	border-right: 2px solid var(--boite-outil-texte-color);
}
.tools-modif li{
	list-style: none;

}
.tools-modif input{
	margin:10px;
	background: rgba(255,255,255,0.1);
	border: none;
	border-radius: 5px;
	font-size: 3vmin;
	height: auto;
	outline: 0;
	padding: 10px;
	background-color: var(--formulaire-saisie-bkg);
	color: var(--formulaire-saisie-color);
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	width:70%;
}
.tools-boutons div{display:flex;flex-direction:row;}
.tools-boutons div span{display:flex;flex-direction:column;justify-content:center;}
.tools-pannel button{font-size: 4vmin;margin:10px;min-width:50%;max-height:7vmin;}

#outils_frame .green:hover #sombre{opacity:0.8;}



*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*************************************************/
/* DISPOSITION du SCOREBOARD */
/*************************************************/
#message_live {
	display:block;
	max-height:50px;
	background-color:#4CAF50;
	color:#fff;/*#4CAF50 FF52AE;*/
	font-size:2em;
	padding:5px;
	margin:2px 2px 0px 2px;
	text-align:center;	
}
.frame_wrapper {
  display: block; /* IE fix */
  display: flex; /* crée un contexte flex pour ses enfants */
  flex-direction: row; /* affichage horizontal */
  width:100%; /*AJOUT FLEX MEDIAQ*/
  flex-wrap:wrap; /*AJOUT FLEX MEDIAQ*/
  /*max-height: 50vh;*/
  /*flex: 1 1 auto; /* occupe la hauteur restante */
}
section{ /*AJOUT FLEX MEDIAQ*/
  flex:1;
  /*padding:1rem;
  margin:2px;*/
}

.joueur,.reprise {
  display: flex; /* IE fix */
  flex: 1; /* occupe la largeur restante */
  flex-direction: column; /* affichage vertical */
}
.reprise{justify-content:space-evenly;text-align : center;}

.sous-score{
  flex-grow:1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;  /*all at bottom*/
  margin-top:5vmin;
}
.identite{}
.nom{display:flex; flex-direction:row;justify-content: flex-end;}
.nom span{display:block; font-size:6vmin;}
/*.nom img{display:block;}*/

.drapeau{display:flex;}
.drapeau img{margin:auto;}

.frame_reprise, .match-infos, .timer-infos {display: flex;}
.frame_reprise, .match-infos {display:inline-block;text-align:center;}
.timer-infos {display: flex;flex-direction:column;}

.match-infos{display:flex;flex-direction:column;}

.frame_bottom{flex-grow:1;background:#333}

/*Joueur ACTIF*/
.couleur1.joueur_actif{color:var(--joueur-bille-couleurA);}
.couleur2.joueur_actif{color:var(--joueur-bille-couleurB);}
.joueur_actif .break{display: block;}

/*Différence joueur droite/gauche*/
.gauche, .droite{color:var(--joueur-inactif);}
.droite{text-align:left;}
.droite .nom{justify-content:start;}
.gauche{text-align:right;}
.gauche .nom{justify-content:end;}
.couleur1 .nom{color:var(--joueur-bille-couleurA);}
.couleur2 .nom{color:var(--joueur-bille-couleurB);}

.actions_wrapper{
	padding:10px;
}
.stat_wrapper{padding:10px;}
/*.frame_bottom {flex: 1;}*/

.reprise{background-color:#bbb;color:#333;}

.onglet-dd-tools {
	position:absolute;
	left:150px;
	top:15px;
	width:100px;
	height:50px;
	z-index:100;	
}
.tools{
	cursor: pointer;
	background:transparent;
}
.invisible{
	display:none !important;
}

.retracte{
	height:0px;
	/* display:none !important; */
	margin: 0px !important;
	padding: 0px !important;
	-webkit-transition:height, 1s linear;
    -moz-transition: height, 1s linear;
    -ms-transition: height, 1s linear;
    -o-transition: height, 1s linear;
    transition: height, 1s linear;
}
/* .retracte.ouvert{	*/
.deroule{
    height:275px;
    background: #555;
    -webkit-transition:height, 1s linear;
    -moz-transition: height, 1s linear;
    -ms-transition: height, 1s linear;
    -o-transition: height, 1s linear;
    transition: height, 1s linear;
    }	


/*************************************************/
/* DECORATION */
/*************************************************/
section {
	padding: 5px;
	margin: 0;
	border: 2px solid #eee;
	/*border-radius: 10px;*/
	color: #fff;
	background: #333;
	font-size: 1.3vmin;
}

.nom >* {padding:5px}

.identite {padding-top:10px;}
.frame_reprise{font-size:20vmin;}
.timer span{font-size:5vmin;}
.timer span{font-size:5vmin;}
.scoref {font-size:60vmin;}
.moyennef span{font-size:6vmin;}
.break span{font-size:13vmin;}
.match_score span{font-size:8vmin;}
.distance{font-size:4vmin;}
.break{	display: none; color:#4CAF50;} /*par défaut le break n'est pas affiché (cf. .active)*/

.frame_reprise, .scoref {cursor: pointer;}

.scoref, .reprise, .break {font-family:"ChronometreGras"/*var(--chrono-font)*/;}
.score{padding-right:2vmin}

/*Gestion des marges à cause de la police merdique*/
.score{margin-top:-12vmin;}
.scoref{margin-bottom:-12vmin;}
.scoref span{line-height:0;}

/* .frame_reprise span{line-height:0;} */
.frame_reprise{margin-top:-3vmin;margin-bottom:-3vmin;}
.break{margin-bottom:-2vmin;}


.gauche.joueur_actif{
/* IE10+ */ 
background-image: -ms-radial-gradient(100% 75%, ellipse farthest-corner, #555 0%, #333 100%);
/* Mozilla Firefox */ 
background-image: -moz-radial-gradient(100% 25%, ellipse farthest-corner, #555 0%, #333 100%);
/* Opera */ 
background-image: -o-radial-gradient(100% 25%, ellipse farthest-corner, #555 0%, #333 100%);
/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(radial, 100% 25%, 0, 286, color-stop(0, #555), color-stop(100, #333));
/* Webkit (Chrome 11+) */ 
background-image: -webkit-radial-gradient(100% 25%, ellipse farthest-corner, #555 0%, #333 75%);
}
.droite.joueur_actif{
/* IE10+ */ 
background-image: -ms-radial-gradient(0% 25%, ellipse farthest-corner, #666 0%, #333 100%);
/* Mozilla Firefox */ 
background-image: -moz-radial-gradient(0% 25%, ellipse farthest-corner, #666 0%, #333 100%);
/* Opera */ 
background-image: -o-radial-gradient(0% 25%, ellipse farthest-corner, #666 25%, #333 75%);
/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(radial, 0% 25%, 0, 286, color-stop(0, #666), color-stop(100, #333));
/* Webkit (Chrome 11+) */ 
background-image: -webkit-radial-gradient(0% 25%, ellipse farthest-corner, #666 0%, #333 100%);
}
.blur{
  overflow:hidden;
  filter: blur(8px);
}

/* Pour un effet de nénon */
/* .actif > #scoref_j1,#scoref_j2,.break{ */
	/* animation: blur .75s ease-out infinite; */
	/* text-shadow: 0px 0px 5px #fff, 0px 0px 5px #fff; */
/* } */


/*************************************************/
/* RESPONSIVE */
/*************************************************/
@media (max-aspect-ratio: 3000/5000) { /*type ecran portable*/
	section:nth-child(2) {
		order:0;flex-basis:100%;
	}
	.gauche{text-align:left}
	.droite{text-align:right}
	.scoref {font-size:30vmin;}
	.reprise {flex-direction: row;min-height:140px;}
	/*Gestion des marges à cause de la police merdique*/
	.score{margin-top:-8vmin;}
	.scoref{margin-bottom:-8vmin;}	
	.match-infos, .timer-infos, .frame_reprise{justify-content: space-evenly;}	
	#outils_frame > ul > li > .tools-pannel{
		display:flex;
		flex-direction:column;
		justify-content: space-evenly;}
	.tools-boutons {
		/* padding-left: 10px; */
		border-bottom: 2px solid var(--boite-outil-texte-color);
		border-top: 2px solid var(--boite-outil-texte-color);
		border-left:none;
		border-right: none;
	}
	.tools-pannel h1 {align-self: flex-start;}
}
@media (min-aspect-ratio: 3001/5000) and (max-aspect-ratio: 7000/5000) {/*type carré*/
	section:nth-child(2) {
		order:3;flex-basis:100%;
	}
	.reprise{flex-direction:row;}
	.scoref {font-size:45vmin;}
	/*Gestion des marges à cause de la police merdique*/
	.score{margin-top:-12vmin;}
	.scoref{margin-bottom:-12vmin;}
	.nom span{font-size:5.5vmin;}
}

@media (min-aspect-ratio: 7001/5000){/*ecran large*/
  /* .scoref {font-size:60vmin;}	 */
  	.reprise{flex-direction:row;flex-wrap:wrap; max-width:25%;}
	.reprise{flex-direction:column;}
}
	

