@import 'variables.css';
/*DEBUGGAGE*/
/* p {border:0.2mm dashed green;} */
/* div {border:0.2mm dashed red;} */
/* li {border:0.2mm dashed gold;} */
/* ul{border:0.2mm dashed hotpink;} */
.formulaire{
/*   margin: 10px auto; */
  padding: 0px 20px;
  background: var(--formulaire-background);
  border-radius: 8px;
  max-width: 480px;
  min-width: 300px;
  margin-top:5px;
}
.formulaire h4{
	/* line-height:2em; */
	margin: .1em;
	font-size:2em;
	color:var(--formulaire-titre-color);
	font-weight:var(--formulaire-titre-weight);
	text-align:center;
}
.formulaire label, p.datetime {
  display: block;
  /* margin-bottom: 4px; */
  /* font-family: 'Nunito', sans-serif; */
  color: var(--formulaire-label-color);
  font-weight:normal;
  line-height: var(--formulaire-label-size);
  font-size:var(--formulaire-label-size);
  /* margin-top: 20px; */
}
p.datetime {
  font-weight:lighter;
  font-size:80%;
}

.formulaire input[type="text"],
.formulaire input[type="password"],
.formulaire input[type="date"],
.formulaire input[type="datetime"],
.formulaire input[type="email"],
.formulaire input[type="number"],
.formulaire input[type="search"],
.formulaire input[type="tel"],
.formulaire input[type="time"],
.formulaire input[type="url"],
.formulaire textarea,
.formulaire select 
{
  background: rgba(255,255,255,0.1);
  border: none;
  border-radius: 5px;
  font-size: var(--formulaire-saisie-size);
  height: auto;
  /* margin: 5px; */
  outline: 0;
  margin:0;
  padding: 6px;
  width: 100%;
  background-color: var(--formulaire-saisie-bkg);
  color: var(--formulaire-saisie-color);
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  /* margin-bottom: 20px; */
  /*border-bottom: 2px solid #ccc;*/
}

.formulaire input[type="text"].vTimeField,
.formulaire input[type="text"].vDateField{width: 65%;}

.formulaire input[type="radio"],
.formulaire input[type="checkbox"] {
  margin: 8px;/*0 4px 8px 0;*/
  transform: scale(1.5);
}

.formulaire select {
  height: calc(var(--formulaire-saisie-size)*1.7);
  border-radius: 2px;
}

.formulaire input[type="submit"],.formulaire input[type=button] {
  color: var(--formulaire-bouton-color);
  background-color: var(--formulaire-bouton-bkg-color);
  display : block;
  padding: 0.8em 2em 0.8em;
  font-size: var(--formulaire-saisie-size);
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  /* border: 1px solid #3ac162; */
  /* border-width: 1px 1px 3px; */
  /* box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset; */
  /* margin-bottom: 10px; */
  /* margin-top:20px; */
}
.formulaire input[type=button] {
  color: var(--formulaire-bouton-color);
  background-color:var(--formulaire-bouton-bkg-color);
}
.formulaire input[type="submit"]:hover,.formulaire input[type=button]:hover {
  /* font-size: 2.0em; */
background:#0D8F11;}

.formulaire span{display:block;}   
.formulaire .helptext{
	font-style:italic;
	font-size:0.8em;
	text-align:right;
}
ul.errorlist, ul.errorlist li {
	margin:0;
	padding:0;
}
@media screen and (max-width: 750px) {
  .formulaire{width:100%;}
}