@import 'variables.css';

/*DEBUGGAGE*/
div {border:0.2mm dashed red;}
p {border:0.2mm dashed green;}
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/*************************************************/
/* DISPOSITION du SCOREBOARD */
/*************************************************/

.frame_wrapper {
  display: block; /* IE fix */
  display: flex; /* crée un contexte flex pour ses enfants */
  flex-direction: row; /* affichage horizontal */
  width:100%; /*AJOUT FLEX MEDIAQ*/
  flex-wrap:wrap; /*AJOUT FLEX MEDIAQ*/
  /*max-height: 50vh;*/
  /*flex: 1 1 auto; /* occupe la hauteur restante */
}
section{ /*AJOUT FLEX MEDIAQ*/
  flex:1;
  /*padding:1rem;
  margin:2px;*/
}

.joueur,.reprise {
  display: flex; /* IE fix */
  flex: 1; /* occupe la largeur restante */
  flex-direction: column; /* affichage vertical */
}
.reprise{justify-content:space-evenly;text-align : center;}

.sous-score{
  flex-grow:1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;  /*all at bottom*/
  margin-top:5vmin;
}
.identite{}
.nom{display:flex; flex-direction:row;justify-content: flex-end;}
.nom span{display:block; font-size:6vmin;}
/*.nom img{display:block;}*/

.drapeau{display:flex;}
.drapeau img{margin:auto;}

.frame_reprise, .match-infos, .timer-infos {display: flex;}
.frame_reprise, .match-infos {display:inline-block;text-align:center;}
.timer-infos {display: flex;flex-direction:column;}

.match-infos{display:flex;flex-direction:column;}

.frame_bottom{flex-grow:1;background:#333}

/*Joueur ACTIF*/
.gauche.joueur_actif{color:var(--joueur-blanc);}
.droite.joueur_actif{color:var(--joueur-jaune);}
.joueur_actif .break{display: block;}

/*Différence joueur droite/gauche*/
.gauche, .droite{color:var(--joueur-inactif);}
.droite{text-align:left}
.droite .nom{justify-content:start;color:var(--joueur-jaune);}
.gauche{text-align:right}
.gauche .nom{justify-content:end;color:#fff;}

.actions_wrapper{
	padding:10px;
}
.stat_wrapper{padding:10px;}
/*.frame_bottom {flex: 1;}*/

.reprise{background-color:#bbb;color:#333;}

.onglet-dd-tools {
	position:absolute;
	left:150px;
	top:15px;
	width:100px;
	height:50px;
	z-index:100;	
}
.tools{
	cursor: pointer;
	background:transparent;
}
.invisible{display:none;}


/*************************************************/
/* DECORATION */
/*************************************************/
section {
	padding: 5px;
	margin: 0;
	border: 2px solid #eee;
	/*border-radius: 10px;*/
	color: #fff;
	background: #333;
	font-size: 1.3vmin;
}

.nom >* {padding:5px}

.identite {padding-top:10px;}
.frame_reprise{font-size:20vmin;}
.timer span{font-size:5vmin;}
.timer span{font-size:5vmin;}
.scoref {font-size:60vmin;}
.moyennef span{font-size:6vmin;}
.break span{font-size:13vmin;}
.match_score span{font-size:8vmin;}
.distance{font-size:4vmin;}
.break{	display: none; color:lightgreen;} /*par défaut le break n'est pas affiché (cf. .active)*/

.frame_reprise, .scoref {cursor: pointer;}

.scoref, .reprise, .break {font-family:"ChronometreGras"/*var(--chrono-font)*/;}
.score{padding-right:2vmin}

/*Gestion des marges à cause de la police merdique*/
.score{margin-top:-12vmin;}
.scoref{margin-bottom:-12vmin;}
.scoref span{line-height:0;}

/* .frame_reprise span{line-height:0;} */
.frame_reprise{margin-top:-3vmin;margin-bottom:-3vmin;}
.break{margin-bottom:-2vmin;}


.gauche.joueur_actif{
/* IE10+ */ 
background-image: -ms-radial-gradient(100% 75%, ellipse farthest-corner, #555 0%, #333 100%);
/* Mozilla Firefox */ 
background-image: -moz-radial-gradient(100% 25%, ellipse farthest-corner, #555 0%, #333 100%);
/* Opera */ 
background-image: -o-radial-gradient(100% 25%, ellipse farthest-corner, #555 0%, #333 100%);
/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(radial, 100% 25%, 0, 286, color-stop(0, #555), color-stop(100, #333));
/* Webkit (Chrome 11+) */ 
background-image: -webkit-radial-gradient(100% 25%, ellipse farthest-corner, #555 0%, #333 75%);
}
.droite.joueur_actif{
/* IE10+ */ 
background-image: -ms-radial-gradient(0% 25%, ellipse farthest-corner, #666 0%, #333 100%);
/* Mozilla Firefox */ 
background-image: -moz-radial-gradient(0% 25%, ellipse farthest-corner, #666 0%, #333 100%);
/* Opera */ 
background-image: -o-radial-gradient(0% 25%, ellipse farthest-corner, #666 25%, #333 75%);
/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(radial, 0% 25%, 0, 286, color-stop(0, #666), color-stop(100, #333));
/* Webkit (Chrome 11+) */ 
background-image: -webkit-radial-gradient(0% 25%, ellipse farthest-corner, #666 0%, #333 100%);
}
.blur{
  overflow:hidden;
  filter: blur(8px);
}

/* Pour un effet de nénon */
/* .actif > #scoref_j1,#scoref_j2,.break{ */
	/* animation: blur .75s ease-out infinite; */
	/* text-shadow: 0px 0px 5px #fff, 0px 0px 5px #fff; */
/* } */

/*************************************************/
/* RESPONSIVE */
/*************************************************/
@media (max-aspect-ratio: 3000/5000) { /*type ecran portable*/
	section:nth-child(2) {
		order:0;flex-basis:100%;
	}
	.gauche{text-align:left}
	.droite{text-align:right}
	.scoref {font-size:30vmin;}
	.reprise {flex-direction: row;min-height:140px;}
	/*Gestion des marges à cause de la police merdique*/
	.score{margin-top:-8vmin;}
	.scoref{margin-bottom:-8vmin;}	
	.match-infos, .timer-infos, .frame_reprise{justify-content: space-evenly;}	
}
@media (min-aspect-ratio: 3001/5000) and (max-aspect-ratio: 7000/5000) {/*type carré*/
	section:nth-child(2) {
		order:3;flex-basis:100%;
	}
	.reprise{flex-direction:row;}
	.scoref {font-size:45vmin;}
	/*Gestion des marges à cause de la police merdique*/
	.score{margin-top:-12vmin;}
	.scoref{margin-bottom:-12vmin;}
}

@media (min-aspect-ratio: 7001/5000){/*ecran large*/
  /* .scoref {font-size:60vmin;}	 */
  	.reprise{flex-direction:row;flex-wrap:wrap; max-width:25%;}
	.reprise{flex-direction:column;}
}
	
/*On force les formulaires à s'ecrire sur la même ligne*/
.formulaire li{
  display:  inline-block;
} 
.formulaire{
  padding: 10px 20px;
  background: var(--formulaire-background);
  border-radius: 8px;
  max-width: 100%;
  min-width: 400px;
  margin-top:15px;
}
.formulaire input[type="text"],
.formulaire input[type="password"],
.formulaire input[type="date"],
.formulaire input[type="datetime"],
.formulaire input[type="email"],
.formulaire input[type="number"],
.formulaire input[type="search"],
.formulaire input[type="tel"],
.formulaire input[type="time"],
.formulaire input[type="url"],
.formulaire textarea,
.formulaire select 
{
	width:auto;
}