@import 'variables.css';

/*DEBUGGAGE*/
/* div {border:0.2mm dashed red;} */
/* p {border:0.2mm dashed green;} */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/*************************************************/
/* DISPOSITION du SCOREBOARD */
/*************************************************/

.frame_wrapper {
  display: block; /* IE fix */
  display: flex; /* crée un contexte flex pour ses enfants */
  flex-direction: row; /* affichage horizontal */
  width:100%; /*AJOUT FLEX MEDIAQ*/
  flex-wrap:wrap; /*AJOUT FLEX MEDIAQ*/
  /*max-height: 50vh;*/
  /*flex: 1 1 auto; /* occupe la hauteur restante */
}
section{ /*AJOUT FLEX MEDIAQ*/
  flex:1;
  /*padding:1rem;
  margin:2px;*/
}

.joueur,.reprise {
  display: flex; /* IE fix */
  flex: 1; /* occupe la largeur restante */
	flex-direction: column; /* affichage vertical */
}
.reprise{justify-content:space-evenly;text-align : center;}

.identite{
  flex-grow:1;
  display: flex;
  flex-direction: column;
  justify-content: end;  /*all at bottom*/
}

.nom{display:flex; flex-direction:row;justify-content: end;}
.nom span{display:block;line-height:4vmin; font-size:4vmin;}
/*.nom img{display:block;}*/

.frame_reprise, .match-infos, .timer-infos {display: flex;}
.frame_reprise, .match-infos {display:inline-block;text-align:center;}
.timer-infos {display: flex;flex-direction:column;}

.match-infos{display:flex;flex-direction:column;}
/*Joueur ACTIF*/
.joueur_actif{color:lightgreen;}
.joueur_actif .break{display: block;}

/*Différence joueur droite/gauche*/
.droite{text-align:left}
.droite .nom{justify-content:start;color:#FFCC33;}
.gauche{text-align:right}
.gauche .nom{justify-content:end;color:#fff;}

.actions_wrapper{
	padding:10px;
}
.stat_wrapper{padding:10px;}
/*.frame_bottom {flex: 1;}*/

.reprise{background-color:#bbb;color:#333;}

.tab-outils {
	position : relative;
	left:0px;
	top:0px;
	width:100px;
	height:50px;
	background:#CC33FF;	
}
/*************************************************/
/* DECORATION */
/*************************************************/


section {
	padding: 5px;
	margin: 0;
	border: 2px solid #eee;
	/*border-radius: 10px;*/
	color: #fff;
}
section {
	background: #333;
	font-size: 1.3vmin;
}


.nom >* {padding:5px}

.identite {padding-top:10px;}
.frame_reprise{	line-height:20vmin; font-size:20vmin;}
.timer span{line-height:5vmin; font-size:5vmin;}
.timer span{line-height:5vmin; font-size:5vmin;}
.scoref {line-height:40vmin; font-size:40vmin;}
.moyennef span{line-height:6vmin; font-size:6vmin;}
.break span{line-height:10vmin; font-size:10vmin;}
.match_score span{line-height:8vmin; font-size:8vmin;}
.break{	display: none;} /*par défaut le break n'est pas affiché (cf. .active)*/

.frame_reprise, .scoref {cursor: pointer;}

.scoref, .reprise {font-family:"ChronometreGras"/*var(--chrono-font)*/;}

/*************************************************/
/* RESPONSIVE */
/*************************************************/
@media (max-aspect-ratio: 3000/5000) { /*AJOUT FLEX MEDIAQ*/
	section:nth-child(2) {
		order:0;flex-basis:100%;
	}
	.gauche{text-align:left}
	.droite{text-align:right}
	.reprise{flex-direction:row;flex-wrap:wrap; }
	
}
@media (min-aspect-ratio: 3001/5000) and (max-aspect-ratio: 6200/5000) {/*AJOUT FLEX MEDIAQ*/
	section:nth-child(2) {
		order:3;flex-basis:100%;
	}
	.reprise{flex-direction:row;}
}

@media (min-aspect-ratio: 8500/5000){/*AJOUT FLEX MEDIAQ*/
  .scoref {line-height:60vmin; font-size:60vmin;}	
	}
	
/*On force les formulaires à s'ecrire sur la même ligne*/
.formulaire li{
  display:  inline-block;
} 
.formulaire{
  padding: 10px 20px;
  background: var(--formulaire-background);
  border-radius: 8px;
  max-width: 100%;
  min-width: 400px;
  margin-top:15px;
}
.formulaire input[type="text"],
.formulaire input[type="password"],
.formulaire input[type="date"],
.formulaire input[type="datetime"],
.formulaire input[type="email"],
.formulaire input[type="number"],
.formulaire input[type="search"],
.formulaire input[type="tel"],
.formulaire input[type="time"],
.formulaire input[type="url"],
.formulaire textarea,
.formulaire select 
{
	width:auto;
}