@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap');

@font-face {
	font-family:"ChronometreGras";
	src: url('/static/gestionnaire/fonts/DS-DIGIT.TTF');
}

:root
{
  --joueur-jaune:#F5FABB;
  --joueur-inactif:#BDBDBD;
  --joueur-blanc:#fff;

  --body-background: #eee;
  --body-text-size:1.1em;
  --body-font:'Nunito', sans-serif;
  --chrono-font:'ChonometreGras';
  
  --formulaire-titre-color: #4CAF50;
  --formulaire-titre-weight:bolder;
  --formulaire-titre-text-size:1.1em;
  --formulaire-background:#f4f7f8;
  --formulaire-label-color:#384047;
  --formulaire-label-size:1.1em;
  --formulaire-bouton-color:#fff;
  --formulaire-bouton-bkg-color:#4CAF50;
  --formulaire-saisie-bkg:#e8eeef;
  --formulaire-saisie-color:#8a97a0;
  --formulaire-saisie-size:1.1em;
  
  --liste-titre-color: #447e9b;
  --liste-titre-weight:bolder;
  --liste-color:#111;
  --liste-background:RGB(76,176,80,0.05);
  
  --menu-background:#333;
  --menu-color:#eee;
  --menu-selection-bkg-color:#4CAF50;
  --menu-hover-color:#333;
  --menu-hover-bkg-color:#eee;
  
  --footer-bkg : var(--menu-background);
  --footer-color : var(--menu-color);

  
}
