{% extends "gestionnaire/base.html"  %}

{% block title %}
   Frame {{frame.pk}} - {{ block.super }}
{% endblock %}

{% load static %}
{% block styles %} 
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.4.2/dialog-polyfill.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'gestionnaire/css/dialog.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'gestionnaire/css/style_frame.css' %}">
{% endblock %}

{% block content %}  
{{ frame_id|json_script:"frame-id" }} 
{{ frame.match.shot_time_limit|json_script:"shot_time_limit" }} 
 <div id="sombre"></div>  <!-- Peut servir pour assombrir la page qd on entre dans les menus-->
	{% block header %}
		{% include "gestionnaire/menu.html" with active="jouer"%}
	{% endblock %}
	
	{% if request.GET.ref == "true" %}
	<!-- On affiche les outils -->
		<nav id="outils_frame">
			<ul>  
				<li class="tools-button green invisible">
					<a href="#" class="fa fa-cogs"></a>
					<div class="tools-pannel">
						<h1> Outils</h1>
						<div class="tools-boutons"> 
							<!-- <div> -->
								<!-- <img class="tools" id="annuler_action" src="/media/images/undo_blanc.png" height='50'> -->
							<!-- </div>Annuler le dernier coup -->
							<h2> Actions rapides</h2>
							<div><button class="fa fa-undo" id="annuler_action"></button> <span>Annuler la dernière action</span></div>
							<div><button class="fa fa-sign-out" id="conceder">1</button><span>Le joueur actif concède</span></div> 
							<!-- <div><button class="fa fa-sign-out" id="concedeJ2">2</button><span>Joueur2 concède</span></div>  -->
							<div><button class="fa fa-exchange" id="echange_couleurs"></button><span>Echanger la couleur des billes</span></div> 
							<div><button class="fa fa-toggle-on" id="toggle-TTS"></button><span id="label-TTS"></span></div> 
						</div>
						<div class="tools-modif" >
							<h2>Modifier le score</h2>
							<ul>
								<li><label for="maj_J1">Joueur 1 :</label>
									<input type="number" id="maj_J1" name="maj_J1" min="-100" max="100">
								</li>
								<li><label for="maj_J1">Joueur 2 :</label>
									<input type="number" id="maj_J2" name="maj_J2" min="-100" max="100">
								</li>
								<li><label for="maj_J1">Reprise &nbsp:</label>
									<input type="number" id="maj_reprise" name="maj_reprise" min="-100" max="100">
								</li>
									<!-- <input id="maj_scores_submit" type="submit" value="Modifier"> -->
									<button id="maj_scores_submit">Modifier</button>
							</ul>
						</div>     
					</div>        
				</li>  		  
				<li class="tools-button yellow invisible">
					<a href="/frame_liste" class="fa fa-home"></a>
				</li>
			</ul>
		</nav>
	{% endif %}


	<audio autoplay="false" id="son-reprise" src="/media/sound/woosh4_court.mp3"></audio>
	<audio autoplay="false" id="son-point" src="/media/sound/message_court.mp3"></audio>
	
	<div id="message_live" class="retracte"></div>
	
	<div class="frame_top invisible">
	</div>	

	<div class="frame_wrapper">	
		<section class="joueur gauche couleur1 joueur_actif ">
			<div class="score">
				<div class="scoref">
					<span id="scoref_j1"></span><span class="distance">{% if frame.match.fr_distance_j1 %}/{{ frame.match.fr_distance_j1 }}{% endif %}</span>
				</div>				
				<div class="break">break <span id="break_j1"></span></div>
			</div>
			<div class="sous-score">
				<div class="moyennef">moyenne <span id="moyennef_j1"></span></div>
				<div class="identite">
					<div class='nom'>
						<span id="identite_j1">{{ frame.match.joueur1.fullname_score_board }}</span>
						<!-- <div class="drapeau"><img src="https://upload.wikimedia.org/wikipedia/commons/0/05/Flag_of_Brazil.svg" alt="pays" width=40wmin > -->
						<div class="drapeau"><img src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Flag_of_France.svg" alt="pays" width=40wmin >
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="reprise">
			<div class="match-infos">
				<div class="match_score"><span id="match_score">{{ frame.match.score_match_dans_framelive }}</span></div>		
			</div>
			<div class="frame_reprise">
				<span  id="frame_reprise"></span>
				<span class="distance">{% if frame.match.fr_limite_nb_reprises %}/{{ frame.match.fr_limite_nb_reprises }}{% endif %}</span>
			</div>
 			
			<div class="timer-infos">	
				<div class="timer">Shot time <span id="shot_timer">00:00</span></div>
				<div class="timer">Frame time <span id="frame_timer">00:00</span></div>
				<div class="timer">Match time <span id="match_timer">00:00</span></div>
			</div>
		</section>
		
		<section class="joueur droite couleur2">
			<div class="score">
				<div class="scoref">
					<span id="scoref_j2"></span><span class="distance">{% if frame.match.fr_distance_j2 %}/{{ frame.match.fr_distance_j2 }}{% endif %}</span>
				</div>				
				<div class="break"> break<span id="break_j2"></span></div>
			</div>
			<div class="sous-score">
				<div class="moyennef"><span id="moyennef_j2"></span> moyenne</div>	
				<div class="identite">
					<div class='nom'>
						<!-- <div class="drapeau"><img src="https://upload.wikimedia.org/wikipedia/commons/0/05/Flag_of_Brazil.svg" alt="pays" width=40wmin > -->
						<div class="drapeau"><img src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Flag_of_France.svg" alt="pays" width=40wmin >
						</div>
						<span id="identite_j2">{{ frame.match.joueur2.fullname_score_board }}</span>				
					</div>
				</div>
			</div>
		</section>	
	</div> <!-- /frame_wrapper -->

	<div class="stat_wrapper invisible"> 
		<H3>Statistiques</H3>
	</div>															 

	<div class="frame_bottom"></div>

<!-- Fenêtre modale Toss -->
<dialog id="toss_modal" >
  <h3 class="modal-header">Toss</h3>
  <div class="modal-body">
    <p>Quel joueur commence le match ?</p>
  </div>
  <footer class="modal-footer">
    <button id="toss_BtnJoueur1" type="button">Joueur 1</button>
    <button id="toss_BtnJoueur2" type="button">Joueur 2</button>
  </footer>
  <button id="toss_close" class="close" type="button">&times;</button>
</dialog>
<!-- fin Fenêtre modale Toss -->
<!-- Fenêtre modale Start -->
<dialog id="start_modal" >
  <h3 class="modal-header">Début de frame</h3>
  <div class="modal-body">
    <p id="message_start_modal"></p>
  </div>
  <footer class="modal-footer">
    <button id="start_OK" type="button">Démarrer la frame</button>
  </footer>
  <button id="start_close" class="close" type="button">&times;</button>
</dialog>
<!-- fin Fenêtre modale Start -->
<!-- Fenêtre modale Info_ok -->
<dialog id="info_modal" >
  <h3 class="modal-header">Information</h3>
  <div class="modal-body">
    <p id="message_info_modal"></p>
  </div>
  <footer class="modal-footer">
    <button id="info_OK" type="button">OK</button>
  </footer>
  <button id="info_close" class="close" type="button">&times;</button>
</dialog>
<!-- fin Fenêtre modale Start -->

{% endblock %}

{% block extra_js %}
	{% load static %}
	<!-- test dialog -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/dialog-polyfill/0.4.2/dialog-polyfill.min.js"></script>
	<script src="{% static 'gestionnaire/js/dialog.js' %}"></script>
	<!-- test dialog -->
	<script src="{% static 'gestionnaire/js/websocket_frame_live.js' %}"></script>
	
{% endblock %}