{% extends "gestionnaire/base.html"  %}
 
{% block title %}
    Joueurs - {{ block.super }}
{% endblock %}
 
{% block content %}    
	{% block header %}
		{% include "gestionnaire/menu.html" with active="joueur"%}
	{% endblock %} 
<div class="main_container">
    <div class="liste_content">
        <div class="liste">        
			<h4> Frames en cours</h4>
			<ul>        
				{% for joueur in joueurs %}
					<li class="en_cours">
						<h3><a href="{{joueur.get_absolute_url }}">{{ joueur.nom|capfirst }}</a></h3>
						<p class="info-joueur">
							<span>Nom : {{ joueur.nom }} </span> |
							<span>Prénom : {{ joueur.prenom }}</span> |
						</p>
				{% empty %}
					<p>Il n'y a pas de joueur dans la base</p>
				{% endfor %}    
			</ul>
			<span id="total"> 2 frames en cours</span>	
        </div>
    </div>
	<div class="pagination">
		<div class="section-inner clearfix">
			<p>
				{% if joueurs.has_previous %}
					<a href="?page={{ joueurs.previous_page_number }}">< Prev</a> |
				{% endif %}
	 
				{% if joueurs.has_next %}
					<a href="?page={{ joueurs.next_page_number }}">Next ></a>
				{% endif %}
	 
				<span>Page {{ joueurs.number }} of {{ joueurs.paginator.num_pages }}</span>
			</p>
		</div>
	</div>
</div>
{% endblock %}
