{% extends "gestionnaire/base.html"  %}
 
{% block title %}
    Matches - {{ block.super }}
{% endblock %}
 
{% block content %}    
 	{% block header %}
		{% include "gestionnaire/menu.html" with active="match"%}
	{% endblock %}
 
<div class="main_container"> 
    <div class="liste_content">
        <div class="liste">
			<h4> Matchs enregistrés</h4>
				<ul>
					{% for match in matchs %}
						<li class="en_cours">
							<h3> <a href="{{ match.get_absolute_url }}">{{ match.d_debut }}</a> </h3>
							<p class="match-info">
								<span>Jeu : {{ match.jeu_type|upper }}</span>
								<span>Variante : <a href="{{match.jeu_variante.get_absolute_url }}">{{ match.jeu_variante.nom }}</a></span> |
								<span> <a href="{{match.joueur1.get_absolute_url }}">{{ match.joueur1.nom }}</a> vs <a href="{{ match.joueur2.get_absolute_url }}">{{ match.joueur2.nom }}</a></span>|
								<span>Terminé le : {{match.d_fin}} |</span>        
							</p>
						</li>
					{% empty %}
						<p>Il n'y a pas de match</p>
					{% endfor %} 
				</ul>
			<span id="total"> 2 matchs en cours</span>
		</div>
    </div>
 </div>
{% endblock %}
